<div class="bg-white dark:bg-primary-dark dark:text-neutral-200 m-5 p-5 rounded-lg shadow-lg">
    <div class="form-wrapper">
        <h2 class="text-lg mb-1 text-gray-800 dark:text-neutral-200 font-bold">Formulario Secretaria</h2>
        <p class="text-gray-600 dark:text-neutral-400 text-sm mb-6">Formulario de ingreso de datos de la secretaria</p>
            
                <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }"
                [paginator]="true"
                [rows]="5"
                [rowsPerPageOptions]="[5, 10, 20]">
                    
                    <ng-template #header>
                        <tr>
                            <th>Code</th>
                            <th>Estudiante</th>
                            <th>Tutor</th>
                            <th>Propuesta</th>
                            <th>Nota</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-product>
                        <tr>
                            <td>{{ product.code }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.price }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
    </div>
  